$input-background: #f1f5fc;
$button-background: #fbba00;
$placeholder-color: #a7b1c4;
$main-text-color: #000000;
$font-main: "Montserrat", "Arial", sans-serif;
$link-color: #c3cddf;
$slider-date-color: #c3cddf;
$white-color: #ffffff;
$link-hover: #fbba00;
$link-active: rgba(251, 186, 0, 0.7);
$pagination-active-background: #212e42;
$navigation-button-color: #212e42;

//width
$lg-max: 1199px;
$med-max: 991px;
$sm-max: 767px;
$esm-max: 575px;
